{% extends 'homebase.html' %}

{% block title %} Order List {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang Chủ</a></li>
                <li class="active">Danh sách đơn hàng</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Danh sách đơn hàng</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">Id </th>
                                <th class="text-left">Họ </th>
                                <th class="text-left">Tên </th>
                                <th class="text-left">Giá </th>
                                <th class="text-left">Tình trạng </th>
                                <th class="text-left">Ngày </th>
                                <th class="text-left">Chi tiết</th>
                            </tr>
                            {% for rs in orders %}
                                <tr>
                                    <td class="text-left">{{ rs.id}} </td>
                                    <td class="text-left">{{ rs.first_name}} </td>
                                    <td class="text-left">{{ rs.last_name}} </td>
                                    <td class="text-left">{{ rs.total}} VND</td>
                                    <td class="text-left">{{ rs.status}} </td>
                                    <td class="text-left">{{ rs.create_at}} </td>
                                    <td class="text-left"><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}"> Chi tiết </a></td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}