{% extends 'homebase.html' %}

{% block title %} Order Detail {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang Chủ</a></li>
                <li class="active">Chi tiết đơn hàng</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Chi tiết đơn hàng</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">Họ và Tên</th>
                                <td class="text-left">{{ order.first_name}} {{ order.last_name }} </td>
                            </tr>
                            <tr>
                                <th class="text-left">Số điện thoại</th>
                                <td class="text-left">{{ order.phone}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Địa chỉ</th>
                                <td class="text-left">{{ order.address}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Thành Phố</th>
                                <td class="text-left">{{ order.city}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Quốc Gia</th>
                                <td class="text-left">{{ order.country}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Tình trạng</th>
                                <td class="text-left">{{ order.status}}</td>
                            </tr>

                            <tr>
                                <th class="text-left">Ngày tạo</th>
                                <td class="text-left">{{ order.create_at}}</td>
                            </tr>

                            <th class="text-left">Thông tin ship</th>
                            <td class="text-left">{{ order.adminnote}}</td>
                            </tr>

                        </table>

                        <div class="section-title">
                            <h4 class="title">Danh sách sản phẩm</h4>
                        </div>

                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">Id </th>
                                <th class="text-left">Tên </th>
                                <th class="text-left">Giá </th>
                                <th class="text-left">Số lượng </th>
                                <th class="text-left">Thành tiền </th>
                                <th class="text-left">Tình trạng </th>
                                <th class="text-left">Ngày </th>
                            </tr>
                            {% for rs in orderitems %}
                                <tr>
                                    <td class="text-left">
                                        <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">

                                                <img src="{{rs.product.image.url}}" alt="" style="height: 50px">

                                        </a>
                                    </td>
                                    <td class="text-left">{{ rs.product.title}} </td>
                                    <td class="text-left">{{ rs.price}} VND</td>
                                    <td class="text-left">{{ rs.quantity}} </td>
                                    <td class="text-left">{{ rs.amount}} VND</td>
                                    <td class="text-left">{{ rs.status}} </td>
                                    <td class="text-left">{{ rs.create_at}} </td>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}